@model IEnumerable<E_Learning_System_2._0.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome Mr @TempData["name"]</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @TempData["name"]
            </td>
            <td>
                @TempData["surname"]
            </td>
        </tr>
    </tbody>
</table>
<br />
<div class="myButtons">
    <a class="buttonIndex" asp-action="GoForProgramming" asp-route-id="@TempData["username"]"> Προγραμματιστής Λογισμικού</a> |

    <a class="buttonIndex" asp-action="GoForWebDevelop" asp-route-id="@TempData["username"]"> Web Developer</a> |

    <a class="buttonIndex" asp-action="GoForMachineLearning" asp-route-id="@TempData["username"]"> Μηχανική Μάθηση</a> |

    <a class="buttonIndex" asp-action="Revision" asp-route-id="@TempData["username"]"> Επαναλληπτικό </a>
</div>


